name: Release

on: [push]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # <- Suggested to get all tags
          token: ${{ secrets.GH_TOKEN }} # <- This is required

      - run: git fetch --tags

      - name: Release
        id: auto
        uses: ./
        with:
          token: ${{ secrets.GH_TOKEN }}

      - run: |
          echo "Version ${{ steps.auto.outputs.version }}" >> $GITHUB_STEP_SUMMARY
